.candy-makers {
  background-image: url("../img/bg/border.jpg");
  background-position: top;
  background-repeat: no-repeat;
  padding: 105px 0;
  background-size: contain;

  .swiper-container {
    padding-bottom: 50px;
    max-width: 1080px;
  }
}
