.candy-makers {
  background-image: url("../img/bg/border.jpg");
  background-position: top;
  background-repeat: no-repeat;
  padding: 105px 0;
  background-size: contain;

  @media (max-width: 1420px) {
    padding: 70px 0;
  }

  @media (max-width: 970px) {
    background-image: none;
    padding: 45px 0;
  }

  @media (max-width: 600px) {
    padding: 60px 0;
  }

  .swiper-container {
    padding-bottom: 50px;
    max-width: 1080px;

    @media (max-width: 970px) {
    padding-bottom: 20px;
  }
  }
}
