.client-benefits {
  padding: 85px 0 100px;
  position: relative;

  .section-header {
    margin-bottom: 45px;
    position: relative;
    z-index: 5;
  }

  .client-benefits__list {
    grid-template-columns: repeat(auto-fill, 420px);
    gap: 50px;
    position: relative;
    z-index: 5;

    @media (max-width: 1450px) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 60px 30px;
    }

    @media (max-width: 1000px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;
      gap: 75px;
    }
  }

  .benefits-list__item {
    grid-template-columns: 1fr;
    gap: 25px;

    @media (max-width: 650px) {
      gap: 15px;
    }
  }

  .benefits-list__title {
    padding: 0;

    @media (max-width: 650px) {
      font-weight: 700;
      font-size: 18px;
    }
  }

  .benefits-list__icon {
    @media (max-width: 650px) {
      max-height: 35px;
    }
  }
}

.client-benefits__bg-image {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 0;
  opacity: 0.6;

  @media (max-width: 1000px) {
    display: none;
  }
}
