.first-screen {
  margin-top: -50px;
  position: relative;
}

.first-screen__top {
}
.first-screen__details {
  max-width: 515px;
}
.first-screen__title {
  font-size: 70px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  span {
    color: #0c96fc;
  }
}
.first-screen__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
.first-screen__label {
}
.first-screen__image {
}
.first-screen__photo {
}
.first-screen__bottom {
  max-width: 1270px;
}
.benefits-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.benefits-list__item {
  max-width: 355px;
  display: flex;
  align-items: center;
}
.benefits-list__icon {
}
.benefits-list__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2d1c40;
  padding-left: 30px;
  margin: 0;
}
