.first-screen {
  position: relative;

  @media (max-width: 470px) {
    overflow: hidden;
  }

  @media (max-width: 620px) {
    padding: 80px 0 0;
  }
}

.first-screen__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;

  @media (max-width: 1420px) {
    margin-bottom: 130px;
  }

  @media (max-width: 970px) {
    margin-bottom: 40px;
  }
}

.first-screen__details {
  max-width: 515px;
  position: relative;
  z-index: 5;
}

.first-screen__title {
  font-size: 70px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;

  @media (max-width: 1420px) {
    font-size: 60px;
    margin-bottom: 20px;
  }

  @media (max-width: 970px) {
    font-size: 38px;
    text-transform: initial;
    font-weight: 700;
  }

  span {
    color: #0c96fc;
  }
}

.first-screen__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin: 0;
}

.first-screen__image {
  max-width: 655px;
  margin-top: -35px;
  position: relative;

  @media (max-width: 1420px) {
    margin-bottom: 0;
    position: absolute;
    top: 85px;
    right: 0;
    z-index: 0;
  }

  @media (max-width: 1040px) {
    opacity: 0.7;
  }

  @media (max-width: 970px) {
    max-width: 460px;
    opacity: 0.25;
    top: auto;
    bottom: 20px;
  }

  @media (max-width: 370px) {
    display: none;
  }
}

.first-screen__photo {
  display: block;
}

.first-screen__label {
  position: absolute;
  top: 20px;
  left: -160px;
  max-width: 190px;
  display: block;

  @media (max-width: 1420px) {
    left: -80px;
    max-width: 145px;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}
