.header {
  background-color: #4b3c8f;
  background-image: url("../img/bg/header.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 25px 0;
  min-height: 347px;

  @media (max-width: 1420px) {
    min-height: 255px;
  }

  @media (max-width: 1200px) {
    min-height: 225px;
  }

  @media (max-width: 970px) {
    background-image: none;
    min-height: auto;
    padding: 15px 0;
  }

  .logo {
    max-width: 260px;
    width: 100%;

    @media (max-width: 1200px) {
      max-width: 180px;
    }
  }

  .logo__image {
    @media (max-width: 1400px) {
      margin: 0;
    }
  }

  .logo__gescription {
    @media (max-width: 1420px) {
      display: none;
    }
  }

  .address-company {
    max-width: 245px;
    width: 100%;

    @media (max-width: 1420px) {
      display: none;
    }
  }

  .list-messengers {
    max-width: 175px;
    width: 100%;

    @media (max-width: 600px) {
      display: none;
    }
  }

  .number-phone {
    max-width: 210px;
    width: 100%;

    @media (max-width: 800px) {
      display: none;
    }
  }

  .button-custom {
    max-width: 315px;
    width: 100%;

    @media (max-width: 1420px) {
      max-width: max-content;
    }

    @media (max-width: 970px) {
      display: none;
    }
  }
}

.header__top {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  margin-bottom: 45px;

  @media (max-width: 1420px) {
    justify-content: space-between;
    margin-bottom: 30px;
    grid-template-columns: auto auto auto auto;
  }

  @media (max-width: 970px) {
    margin-bottom: 0;
  }

  @media (max-width: 800px) {
    grid-template-columns: auto auto auto;
  }

  @media (max-width: 600px) {
    grid-template-columns: auto auto;
  }
}
