.header {
  background-color: #4b3c8f;
  color: #ffffff;
  padding: 15px 0 0;
  position: relative;

  @media (max-width: 1200px) {
    padding: 15px 0 20px;
  }

  @media (max-width: 970px) {
    padding: 15px 0 105px;
    background-color: transparent;
  }

  @media (max-width: 775px) {
    padding: 15px 0 85px;
  }

  @media (max-width: 620px) {
    background-color: #4b3c8f;
    padding: 15px 0 25px;
  }

  .wrapper {
    position: relative;
    z-index: 5;
  }

  .address-company {
    @media (max-width: 1420px) {
      display: none;
    }
  }

  .list-messengers {
    @media (max-width: 600px) {
      display: none;
    }
  }

  .number-phone {
    @media (max-width: 800px) {
      display: none;
    }
  }

  .button-custom {
    @media (max-width: 970px) {
      display: none;
    }
  }
}

.header__top {
  display: grid;
  grid-template-columns: 320px 245px 175px 210px 315px;
  gap: 30px;
  align-items: center;
  margin-bottom: 45px;

  @media (max-width: 1800px) {
    margin-bottom: 35px;
  }

  @media (max-width: 1700px) {
    margin-bottom: 25px;
  }

  @media (max-width: 1600px) {
    margin-bottom: 15px;
  }

  @media (max-width: 1500px) {
    margin-bottom: 10px;
  }

  @media (max-width: 1420px) {
    justify-content: space-between;
    margin-bottom: 60px;
    grid-template-columns: auto auto auto auto;
  }

  @media (max-width: 1350px) {
    margin-bottom: 55px;
  }

  @media (max-width: 1300px) {
    margin-bottom: 50px;
  }

  @media (max-width: 1250px) {
    margin-bottom: 45px;
  }

  @media (max-width: 1200px) {
    margin-bottom: 40px;
  }

  @media (max-width: 1150px) {
    margin-bottom: 35px;
  }

  @media (max-width: 1100px) {
    margin-bottom: 30px;
  }

  @media (max-width: 1050px) {
    margin-bottom: 25px;
  }

  @media (max-width: 100px) {
    margin-bottom: 20px;
  }

  @media (max-width: 970px) {
    margin-bottom: 0;
  }

  @media (max-width: 800px) {
    grid-template-columns: auto auto auto;
  }

  @media (max-width: 600px) {
    grid-template-columns: auto auto;
  }
}

.header__logo {
  width: 100%;

  @media (max-width: 1420px) {
    max-width: 250px;
  }

  @media (max-width: 1200px) {
    max-width: 180px;
  }
}

.header__logo-image {
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
}

.header__logo-gescription {
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  margin: 0;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  letter-spacing: 5px;

  @media (max-width: 1420px) {
    display: none;
  }
}

.header__bg-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100%;

  @media (max-width: 620px) {
    display: none;
  }
}
