.popular-gifts {
  padding: 85px 0 95px;
  padding-bottom: 0;

  .text-wrapper {
    margin-bottom: 40px;
  }

  .text-wrapper__title {
    margin-top: 0;
  }

  .text-wrapper__text {
    margin: 0;
  }
}

.popular-gifts__tabs-navigation {
  margin-bottom: 40px;
}

.popular-gifts__tabs-content {
  margin-bottom: 70px;
}
