.popular-gifts {
  padding: 85px 0 95px;
}

.popular-gifts__tabs-navigation {
  margin-bottom: 65px;
}

.popular-gifts__tabs-content {
  margin-bottom: 70px;
}

.popular-gifts__card-group {
  display: none;

  &.active {
    display: grid;
  }
}
.popular-gifts__card-wrapper {
  display: grid;
  gap: 45px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
