.potential-clients {
  // background-color: #ffc77f;
  background-image: url("../img/bg/fon1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #000000;
  padding: 80px 0 110px;
  position: relative;

  @media (max-width: 1400px) {
    padding: 80px 0;
  }
  @media (max-width: 600px) {
    padding: 30px 0;
    background-image: none;
    background-color: #ffc77f;
  }

  .button-custom {
    z-index: 5;
    position: relative;
  }
}

.potential-clients__list {
  display: grid;
  gap: 45px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 75px;
  position: relative;
  z-index: 5;

  @media (max-width: 970px) {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
}

.potential-clients__gift {
  position: absolute;
  right: 35px;
  bottom: -150px;
  max-width: 370px;
  z-index: 0;

  @media (max-width: 1400px) {
    right: 35px;
    bottom: 30px;
    opacity: 0.45;
  }

  @media (max-width: 600px) {
    display: none;
  }
}
