.benefits-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 35px;
  align-items: center;
  position: relative;
  z-index: 5;

  @media (max-width: 400px) {
    grid-template-columns: auto;
  }
}

.benefits-list__item {
  display: grid;
  align-items: center;
  position: relative;
  grid-template-columns: 50px auto;
  gap: 30px;

  /* &::before {
    @media (max-width: 970px) {
      content: "►";
      color: #4b3c8f;
      margin-right: 10px;
    } */

  /* @media (max-width: 970px) {
    margin: 0;
  } */
}
/* .benefits-list__icon {
  @media (max-width: 970px) {
    display: none;
  }
} */
.benefits-list__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2d1c40;
  padding-left: 20px;
  margin: 0;

  @media (max-width: 970px) {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: initial;
    padding: 0;
  }
}
