.button-custom {
  background: linear-gradient(180deg, #0c94fb 5%, #004cda 89.29%), #0c96fc;
  border-radius: 20px 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  padding: 20px 30px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: 1px solid #0c96fc;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  filter: drop-shadow(0 6px 8px rgba(0, 96, 175, 0.4));

  &:hover {
    background: #0c96fc;
    filter: drop-shadow(0 6px 8px rgba(0, 96, 175, 0.4));
  }

  &:active,
  &:focus {
    background: #0c96fc;
    filter: none;
  }

  &--white {
    background: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;

    &:hover {
      background: #f89721;
      color: #ffffff;
      border-color: #f89721;
      filter: drop-shadow(0 6px 8px rgba(0, 96, 175, 0.4));
    }

    &:active,
    &:focus {
      background: #f89721;
      color: #ffffff;
      border-color: #f89721;
      filter: none;
    }
  }

  @media (max-width: 1420px) {
    padding: 15px 25px;
    font-size: 14px;
  }

  @media (max-width: 500px) {
    font-size: 14px;
    padding: 15px 20px;
  }
}
