.clients-card__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;

  @media (max-width: 1400px) {
    font-size: 20px;
  }

  @media (max-width: 970px) {
    grid-column: span 2;
    order: -1;
    margin: 0;
  }

  @media (max-width: 620px) {
    grid-column: initial;
    order: initial;
    font-size: 18px;
  }
}
.clients-card__image {
  border-radius: 0 30px 30px 30px;
  display: block;
  margin: 0;
  margin-bottom: 25px;
/*   @media (max-width: 970px) {
    margin-bottom: 0;
  } */
}
