.custom-form {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;

  input,
  textarea {
    background: #ffffff;
    border-radius: 6px;
    padding: 24px 45px;
    border: 1px solid #ffffff;
    color: #000000;
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1px;
  }

  .button-custom {
    font-size: 16px;
    max-width: max-content;
    margin: 0 auto;
    padding: 25px 30px;

    @media (max-width: 650px) {
      font-size: 14px;
      padding: 15px 20px;
    }
  }
}
