.custom-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.custom-list__item {
  display: flex;
  padding-left: 55px;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 25px;

  @media (max-width: 1400px) {
    padding-left: 50px;
  }

  @media (max-width: 970px) {
    padding-left: 25px;
    margin-bottom: 15px;
  }

  &::before {
    @media (max-width: 970px) {
      content: "►";
      color: #4b3c8f;
      position: absolute;
      left: 0;
    }
  }
}
.custom-list__icon {
  max-width: 30px;
  position: absolute;
  left: 0;

  @media (max-width: 970px) {
    display: none;
  }
}
.custom-list__text {
  font-size: 16px;
  color: #000000;
  margin: 0;
}
