.humburger {
  display: none;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
  }

  @media (max-width: 970px) {
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 16px;
    left: -20px;
  }
}

.humburger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  left: 50%;
  margin-left: -12px;
  transition: background-color 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 0.3s, opacity 0.3s;
  transition: transform 0.3s, background-color 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.humburger span,
.top-menu > ul > li > a:before,
.top-menu > ul > li > span:before {
  background: #ffffff;
}

.humburger span:first-child {
  top: 0;
}

.humburger span:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}

.humburger span:last-child {
  bottom: 0;
}
