.label-weight {
  position: absolute;
  max-width: 200px;
  left: 30px;
  top: -18px;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
  background: #0c96fc;
  border-radius: 0 20px 20px 20px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  padding: 12px 30px;
  padding-left: 25px;
  align-items: center;

  @media (max-width: 1420px) {
    padding: 5px 10px;
    font-size: 12px;
    top: -13px;
    left: 20px;
  }

  &::before {
    content: "";
    display: block;
    background-image: url("../img/icons/weight.svg");
    width: 13px;
    height: 17px;
    left: 0;
    margin-right: 8px;
  }
}
