.logo {
  max-width: 320px;
}

.logo__image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 5px;
}

.logo__gescription {
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 3px;
  color: #ffffff;
  margin: 0;
  display: inline-block;
  text-align: center;
}
