.product-card {
  position: relative;
  width: 100%;
  background: linear-gradient(180deg, #ffe8e8 0%, #fffcee 100%);
  border-radius: 0 0 30px 0;
  color: #000000;
  padding: 45px;
  padding-bottom: 10px;
  transition: transform 2s;

  @media (max-width: 900px) {
    background: #ffffff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.07);
    padding-bottom: 75px;
  }

  @media (max-width: 570px) {
    max-width: 100%;
  }
}

.product-card__photo {
  display: block;
  margin: auto;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
  max-height: 189px;

  @media (max-width: 1420px) {
    max-height: 130px;
  }

  @media (max-width: 570px) {
    max-height: initial;
  }
}

.product-card__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  color: #2d1c40;
  margin: 0;
  margin-bottom: 5px;
  display: inline-block;

  @media (max-width: 570px) {
    display: block;
    font-size: 26px;
    margin-bottom: 15px;
    text-align: center;
  }

  @media (max-width: 420px) {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.product-card__price {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 5px;

  @media (max-width: 1420px) {
    font-size: 20px;
  }

  @media (max-width: 570px) {
    text-align: center;
    font-size: 28px;
    display: block;
  }

  @media (max-width: 420px) {
    font-size: 20px;
  }
}

.product-card__button {
  width: 100%;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  bottom: -20px;

  @media (max-width: 900px) {
    opacity: 1;
  }
}

.product-card:hover,
.product-card:focus {
  background: #ffffff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.07);

  .product-card__button {
    opacity: 1;
  }
}
