.product-card {
  position: relative;
  max-width: 315px;
  width: 100%;
  background: linear-gradient(180deg, #ffe8e8 0%, #fffcee 100%);
  border-radius: 0 0 30px 0;
  color: #000000;
  padding: 45px;
  padding-bottom: 10px;
  transition: transform 2s;
}

.product-card__photo {
  display: block;
  margin: auto;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
  max-height: 189px;
}

.product-card__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  color: #2d1c40;
  margin: 0;
  margin-bottom: 15px;
  display: inline-block;
}

.product-card__price {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 70%;
  color: #000000;
  margin-bottom: 5px;
}

.product-card__button {
  width: 100%;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  bottom: -20px;

}

.product-card:hover,
.product-card:focus {
  background: #ffffff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.07);

  .product-card__button {
    opacity: 1;
  }
}
