.section-header {
  max-width: 1210px;
  margin-bottom: 55px;
}
.section-header__title {
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 35px;
  margin-left: -35px;

  @media (max-width: 992px) {
    margin-left: 0;
  }

  @media (max-width: 970px) {
    text-transform: none;
    font-size: 38px;
    line-height: 120%;
    padding-left: 0;
  }

  @media (max-width: 600px) {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  span {
    color: #0c96fc;
  }

  &::before {
    content: "";
    display: block;
    width: 5px;
    height: 38px;
    background-color: #0c96fc;
    position: absolute;
    left: 0;
    top: 10px;

    @media (max-width: 970px) {
      display: none;
    }
  }
}
.section-header__description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  margin: 0;

  @media (max-width: 970px) {
    font-size: 16px;
  }
}
